{% extends '@ezdesign/layout.html.twig' %}

{% trans_default_domain 'poll' %}

{% block body_class %}ez-poll-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'poll.list.title'|trans|desc('Polls') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/parts/page_title.html.twig' with {
        title: 'poll.list.title'|trans|desc('Polls'),
        iconName: 'sections'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-4 px-5">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ 'section.list.title'|trans|desc('Sections') }}</div>
        </div>

        <table class="table mb-3">
            <thead>
                <tr>
                    <th>{{ 'poll.field_id'|trans|desc('Field ID') }}</th>
                    <th>{{ 'poll.question'|trans|desc('Question') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for pollVote in pager.currentPageResults %}
                <tr>
                    <td>{{ pollVote.fieldId }}</td>
                    <td><a href="{{ path( 'ez_systems_poll_show', {'fieldId': pollVote.fieldId} ) }}">{{ pollVote.question }}</a></td>
                    <td class="text-right">
                        <a title="{{ 'poll.show_result'|trans|desc('Show') }}"
                           href="{{ path('ez_systems_poll_show', {'fieldId': pollVote.fieldId}) }}"
                           class="btn btn-icon mx-3">
                            <svg class="ez-icon ez-icon-about">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#about"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center mb-2">
                <span class="ez-pagination__text">
                    {{ 'poll.viewing'|trans({
                    '%viewing%': pager.currentPageResults|length,
                    '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
            </div>
            <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
                {{ pagerfanta(pager, 'ez') }}
            </div>
        {% endif %}
    </section>
{% endblock %}
