{% block ezpoll_field_definition_edit %}
    <div class="ezpoll-validator answer_limit{% if group_class is not empty %} {{ group_class }}{% endif %}">
    {{- form_label(form.answerLimit) -}}
    {{- form_errors(form.answerLimit) -}}
    {{- form_widget(form.answerLimit) -}}
    </div>
    <div class="ezpoll-validator min-length{% if group_class is not empty %} {{ group_class }}{% endif %}">
    {{- form_row(form.minLength) -}}
    </div>

    <div class="ezpoll-validator max-length{% if group_class is not empty %} {{ group_class }}{% endif %}">
    {{- form_row(form.maxLength) -}}
    </div>
{% endblock %}